# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask framework

Flask==2.1.2

# Flask Packages

Flask-Mail==0.9.1
flask_sqlalchemy
flask_migrate
flask_marshmallow
marshmallow_sqlalchemy
flask-jwt-extended