{% extends "index.html" %}

{% block content %}
<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
 
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="static/img/assets/nonanena.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Nona Nena</h5>
                <p class="card-text">
                  Uma confeitaria artesanal em Porto Alegre - RS.
                </p>
                <p>
                    <a class="btn btn-secondary" href="">Acesse</a>
                </p>
                <a href="#!" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
          <p></p>
          <div class="col-lg-4 d-lg-block">
            <div class="card">
              <img
                src="static/img/assets/frontdaciencia.png" width="400px" height="270px"
                class="card-img-top"
                alt="Céu estrelado e front da ciencia escrito no centro"
              />
              <div class="card-body">
                <h5 class="card-title">Front da Ciência</h5>
                <p class="card-text">
                  Podcast sobre Ciência, pseudociências e mais.
                </p>
                <p>
                    <a class="btn btn-secondary" href="">Acesse</a>
                </p>
                <a href="#!" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
          <p></p>
          <div class="col-lg-4 d-lg-block">
            <div class="card">
              <img
                src="static/img/assets/stadium975.jpg" width="400px" height="270px"
                class="card-img-top"
                alt="Soccer stadium with lots of people looking to players in the field"
              />
              <div class="card-body">
                <h5 class="card-title">Stadium 975</h5>
                <p class="card-text">
                  Um portal para amantes de futebol assistir vídeos.
                </p>
                <p>
                    <a class="btn btn-secondary" href="">Acesse</a>
                </p>
                <a href="#!" class="btn btn-primary">Saiba Mais</a>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  <!-- Inner -->
</div>
</div>
<!-- Carousel wrapper -->
{% endblock %}